.international-sec {
  padding: 80px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:aqua;
}


.justify-content-center {
  justify-content: center !important;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
@media (min-width: 1200px) {
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
}
/* *******************about Telescope Image******************** */
/* .abtImage {
  background-image: url("../src/assets/about-telescope-image.png");
} */
