.international-sec {
  padding: 80px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aqua;
}

.bold-heading {
  color: #24242e;
  font-size: 18px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.align-items-center {
  align-items: center !important;
}
.set-position {
  position: relative;
  z-index: 1;
}

.story-home-sec h1 {
  color: #24242e;
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 34px;
  /* max-width: 590px; */
}
.story-home-sec h1 span {
  color: #ffc426;
}
.banner-story-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 28px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.story-home-sec p {
  color: #4d4d56;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 0;
}
.show-description .inner-describe {
  border-radius: 24px;
  background: #fff;
  padding: 60px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  margin-top: -7%;
  position: relative;
  /* z-index: 1 ; */
}
.show-description .inner-describe ul {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
}
.show-description .inner-describe ul li {
  width: 33%;
  list-style: none;
  position: relative;
}
.show-description .inner-describe ul li p {
  color: #363636;
  font-size: 18px;
  /* font-family: Montserrat; */
  font-family: " Montserrat Alternates", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0;
  text-align: center;
}
.new-yellow-btn {
  font-family: "Montserrat Alternates", sans-serif;
  border-radius: 16px;
  background: var(--yellow, #ffc426);
  padding: 10px 20px;
  color: #000;
  border: black;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
  border-color: transparent;
  cursor: pointer;
}
.new-white-btn {
  font-family: "Montserrat Alternates", sans-serif;
  border-radius: 16px;
  background: #fff;
  border: 2px solid var(--yellow, #ffc426) !important;
  padding: 10px 20px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
  cursor: pointer;
}
.show-description .inner-describe ul li::after {
  content: "|";
  color: #ffc426;
  font-weight: 500;
  position: absolute;
  top: 0;
  right: 0%;
  font-size: 25px;
}
.show-description .inner-describe ul li:last-child::after {
  content: none; /* Remove the last "|" */
}
.show-description .inner-describe ul li p span {
  font-size: 24px;
}

.story-home-sec {
  min-height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
  /* background-image: url(../img/home/banner-new2.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  overflow: hidden;
  background-color: #f5f5fa;
  padding: 70px 0;
  margin-top: 80px;
  background-image: url("../../assets/first_banner.png");
}
.main-content-heading{
  font-family: "Montserrat Alternates", sans-serif;
  padding-top: 70px;
}
/* .story-home-sec::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

@media (min-width: 1200px) {
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
}
@media (max-width: 768px) {
  .story-home-sec {
    padding: 50px 0;
    min-height: auto;
    margin-top: 67px;
  }
}
@media (max-width: 992px) {
  .story-home-sec {
    /* background-image: url("../../assets/first_banner.png"); */
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 768px) {
  .story-home-sec h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .story-home-sec p {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 768px) {
  .new-header-home {
    padding: 4px 0;
  }
}

@media (max-width: 992px) {
  .story-home-sec:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.9) !important;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
@media (max-width: 768px) {
  .story-home-sec::before {
    background-color: rgba(255, 255, 255, 0.9) !important;
    /* -moz-background-origin: multiply; */
    /* opacity: 0.5;    */
  }
  .set-position {
    padding-top: 200px;
    text-align: center;
    /* background-image: url("../../assets/first_banner.png"); */
  }

  .show-description .inner-describe {
    font-size: small;
    padding: 10px;
  }
}

/* Modal Button */
.modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal-container {
  position: fixed;
  top: 50%;
  opacity: 1;
  left: 50%;
  background-color: rgb(255, 255, 255);
  padding: 2rem 3rem;
  border-radius: 1.2rem;
  transform: translate(-50%, -50%);
  display: inline-block;
  /* z-index: 999 !important; */
}
.modal-container h2 {
  font-size: 2rem;
  color: black;
  font-weight: 700;
  font-family: "Helvetica Neue", sans-serif;
}
.modal-container p {
  font-size: 1.4rem;
  margin: 1rem 0 2.4rem 0;
  color: black;
  font-weight: 500;
  line-height: 1.8rem;
}

.new-yellow-btn:hover {
  background-color: #ffc426;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  border: white;
  transform: scale(1.01);
}
.content-sav-btn {
  margin-top: 2rem;
  width: 100% !important;
  box-shadow: none !important;
  transform: none !important;
}
.new-white-btn:hover {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(255, 255, 255);
  color: black;
  /* border: #ffc426 !important; */
  transform: scale(1.01);
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  color: #000;
  border: 0;
  border-radius: 0.375rem;
}
.modal-header {
  justify-content: right !important;
}
.modal-form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  height: 50px;
  border-radius: 8px;
}
