.login-sec-main {
    background-image: url('../../../src/assets/bg-login-behind.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
}