.head-practice-test {
  padding: 70px 0;
}
.header-nav {
  margin: 0px 0px -10px 0px !important;
}
.homeHeader {
  background-color: #597ad1;
  padding: 0px 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10 !important;
  position: fixed;
}
.olympiad-section {
  padding: 30px 0;
}
.testimonial-heading h1 {
  color: #24242e;
  text-align: center;
  font-size: 40px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0;
}
.class-country-heading {
  background-color: #f6f6f6;
  padding: 5px 10px;
  border-radius: 8px;
  max-width: max-content;
}
.class-country-heading p {
  font-size: 18px;
  color: #597ad1 !important;
  font-weight: 600;
  margin-bottom: 0;
}
.nof-same-font {
  margin-bottom: 48px;
  position: relative;
}
.nof-same-font h3 {
  color: #000;
  font-size: 24px;
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.nof-same-font span {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #d9d9d9;
}
.nof-same-font span::before {
  content: "";
  position: absolute;
  background-color: #ffc426;
  height: 4px;
  width: 10%;
}
.olympiad-box {
  border-radius: 18.48px;
  border: 1.54px solid #f7f5f7;
  margin-bottom: 45px;
}
.olympiad-img {
  position: relative;
  border-radius: 18px 18px 0 0;
  background-color: #f5f5fa;
  height: 305px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.olympiad-img .olympiad-heart-icon {
  position: absolute;
  right: 16px;
  top: 18px;
  border-radius: 77px;
  background: var(--gray-25, #fcfcfd);
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.olympiad-info {
  padding: 24px;
  text-align: left;
}
.olympiad-info h2 {
  color: #363636;
  font-size: 18px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 13px;
}
.olympiad-info span {
  color: var(--gray-400, #98a2b3);
  font-size: 14px;
  font-family: "Montserrat Alternates", sans-serif;
  margin-bottom: 13px;
  display: inline-block;
}
.olympiad-rating {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}
.olympiad-amount {
  color: var(--gray-700, #344054);
  font-size: 18px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  margin-bottom: 24px;
}
.olympiad-cart {
  border-radius: 50px;
  border: 1px solid var(--blue, #597ad1);
  background: var(--blue, #597ad1);
  padding: 8px 14px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(--white, #fff);
  font-size: 14px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  line-height: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
}
.olympiad-img .list-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 18px 18px 0 0;
}
.large-font{
  /* font-size:xxx-large; */
}
.top-20{
  position:relative;
  top:20vh;
}
ion-icon.active{
  animation:like 0.5s 1;
  fill:red;
  stroke:none;
}
ion-icon{
  fill:transparent;
  stroke:black;
  stroke-width:30;
  transition:all 0.5s;
}


@-webkit-keyframes like {
  0%   { transform: scale(1); }
  90%   { transform: scale(1.2); }
  100% { transform: scale(1.1); }
}