.how-it-work-page {
  padding-top: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}
.benefit-sec {
  padding: 70px 0;
}
.slick-slide {
  padding: 20px;
}
.benefit-heading {
  color: #363636;
  text-align: center;
  font-size: 36px;
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 50px;
  margin-top: 50px;
}
.benefit-box-user {
  text-align: center;
  padding: 20px;
  max-width: 360px;
  margin: auto;
}
.benefit-box-user .border-image {
  border-radius: 50%;
  border: 6px solid var(--yellow, #ffc426);
  background: #f5f5fa;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 350px;
}
@media screen and (max-width: 991px) {
  .benefit-box-user .border-image{
    padding: 42px;
    height: 220px;
    width: 220px;
  }
  
}
.benefit-box-user .border-image img {
  height: auto;
  width: 140px;
  object-fit: contain;
}
.benefit-box-user p {
  color: #24242e;
  text-align: center;
  font-size: 20px;
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 30px;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.how-work-box {
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(31, 31, 51, 0.06);
  padding: 23px 30px;
  text-align: center;
  min-height: 265px;
  margin: 15px 0;
  min-height: 410px;
}
.how-work-box .image {
  border-radius: 24px;
  background: #e9e9f6;
  padding: 20px;
  height: 72px;
  width: 72px;
  margin: auto;
}
.how-work-box h4 {
  color: #24242e;
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin: 22px 0;
}
.how-work-box p {
  color: #4d4d56;
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
