.spacer-y {
  padding: 70px 0;
}

.international-sec {
  background-color: #ffc426;
  /* padding: 80px 0; */
  font-family: "Montserrat Alternates", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.international-box p {
  color: #55c4ec;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0;
  padding: 30px 20px;
}

.int-head-h2 {
  font-family: "Montserrat Alternates", sans-serif;
  padding-bottom: 3rem;
  align-items: center;
  justify-content: center;
  color: #ffc426;
}
.international-head h2 {
  color: #ffc426;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
}
.int-head-h2 {
  align-items: center;
  font-family: "Montserrat Alternates", sans-serif;
  justify-content: center;
  color: #ffc426;
}

/* .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
} */
/* @media (min-width: 1200px) {
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
} */
/* *******************about Telescope Image******************** */
/* .abtImage {
    background-image: url("../src/assets/about-telescope-image.png");
  } */
