.Demo-Quiz {
  padding: 20px 0;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #597ad1;
  font-family: "Montserrat Alternates", sans-serif;
}
.quiz-h1 {
  color: #ffc426;
  font-size: 45px;
}
.quiz-score {
  color: #00008b;
}
.question-card {
  position: relative;
  width: 50%;
  background-color: #6b92ff;
  padding: 26px;
  font-weight: 500;
  border-radius: 16px;
  color: #ffff;
  margin-bottom: 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
@media screen and (max-width: 768px) {
  .question-card {
    width: 80%;
  }
}
.question-card h2 {
  font-size: 28px;
}
.answer-list {
  list-style: none;
}

.answer-option {
  margin-top: 15px;
  color: #597ad1;
  background-color: rgb(255, 255, 255);
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
  
}
.answer-option:hover {
  background-color: #00008b;
  color: #ffc426;
  cursor: pointer;
}
.leave-btn {
  margin-bottom: 70px;
}
.question-text {
  color: darkblue;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 30px;
  
}

.final-results {
  margin-bottom: 400px !important;
  margin: auto;
  height: auto;
  margin-top: 64px;
  background-color: gray;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.restart-btn {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 24px;
}
