.homeHeader {
  background-color: #597ad1;
  padding: 8px 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10 !important;
  position: fixed;
}
Header {
  background-color: "#0000FF";
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
.logoImg {
  height: 3.75rem;
}
.nav-item.active {
  background-color: #ffc426 !important;
}
.new-header-home .yellow-no-border {
  color: #ffc426 !important;
  font-size: 16px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  background-color: transparent;
  border: none !important;
  padding: 12px 20px;
}
.new-header-home .yellow-border {
  color: #ffc426 !important;
  font-size: 16px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  padding: 12px 36px;
  background-color: #597ad1;
  border-radius: 8px;
  border: 1px solid  #ffc426;
}
.gap-2 {
  gap: 0.5rem !important;
}
.d-flex {
  display: flex !important;
}

.new-header-home .header-side a {
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 12px;
}

.show-number {
  position: relative !important;
}

/* Navbar */
.navBar {
  color: white;
  background: black;
  position: fixed;
}
.navbar-nav .nav-item .nav-link {
  /* color: white !important; */
  font-family: "Montserrat Alternates", sans-serif;
}

.navbarClass .nav-item:hover {
  font-size: 1.01rem;
  color: #ffc426 !important;
}

.navbarClass li a {
  color: #fffffe;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}
.navbarClass li a:hover {
  color: #ffc426 !important;
}

.navbar-nav {
  display: flex;
  padding-left: 0;
}
.nav-link {
  display: block;
  text-decoration: none;
}

@media (max-width: 992px) {
  .new-header-home .logo-img {
    height: 30px;
  }
}
.cart-wl-btn {
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat Alternates", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 12px;
}
.wl-cart-img {
  margin: 0px 6px 0px 0px;
}
.show-number .show1 {
  left: -10px;
  position: absolute;
  height: 25px;
  min-width: 25px;
  border: 2px solid #FFC426;
  background-color: #fff;
  font-size: 11px;
  font-weight: 600;
  top: -20px;
  color: #000;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.login-btn {
  color:  #ffc426 !important;
  font-size: 16px !important;
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 500 !important;
  background-color: transparent !important ;
  border: none !important;
  padding: 12px 20px !important;
}
.login-btn:hover {
  font-size: 16px !important;
  color: #000dff !important;
  font-weight: 510 !important;
}
.sign-up:hover {
  font-size: 16px !important;
  color: #000dff !important;
  border: 2.5px solid #000dff !important;
  font-weight: 510 !important;
}
.sign-up {
  color:  #ffc426 !important;
  font-size: 16px !important;
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 600 !important;
  padding: 12px 26px !important;
  background-color: #597ad1 !important;
  border-radius: 8px !important;
  border: 1px solid  #ffc426 !important;
}

.login-modal-heading {
  border: none !important;
}
.login-text {
  font-size: 1.5rem;
  padding: 20px;
}
.login-modal {
  /* border: 2px solid #ffc426 !important; */
  border-radius: 30px;
}
.login-link {
  text-decoration: none;
  color: black;
}

.student-login-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.student-login-image {
  padding-bottom: 20px;
}
.school-login-image {
  padding-bottom: 20px;
}
.school-login-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-detail-btns {
  display: flex;
  text-decoration: none !important;
  gap: 25px;
}
.login-modal-footer {
  justify-content: space-evenly !important;
  padding-bottom: 30px !important;
} 
