Header {
  background-color: "#0000FF";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logoImg {
  height: 3.75rem;
}

/* .wish-and-cart {
  padding-left: 31.25rem;
} */
.new-header-home .yellow-no-border {
  color: var #ffc426 !important;
  font-size: 16px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  background-color: transparent;
  border: none !important;
  padding: 12px 20px;
}
.new-header-home .yellow-border {
  color: #ffc426 !important;
  font-size: 16px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  padding: 12px 36px;
  background-color: #597ad1;
  border-radius: 8px;
  border: 1px solid var(--yellow, #ffc426);
}
.gap-2 {
  gap: 0.5rem !important;
}
.d-flex {
  display: flex !important;
}
.homeHeader {
  background-color: #597ad1;
  padding: 8px 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  /* position: fixed; */
}

.new-header-home .header-side a {
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 12px;
}

.show-number .show1 {
  left: -10px;
  position: absolute;
  height: 25px;
  min-width: 25px;
  border: 2px solid #ffc426;
  background-color: #fff;
  font-size: 11px;
  font-weight: 600;
  top: -10px;
  color: #000;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.show-number {
  position: relative;
}
