.dash-outer-box {
  background: #f5f5f5;
}
.activity-search-input {
  position: relative;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: stretch;
  border: 1px solid blue;
  border-radius: 7px;
  width: 100%;
  /* margin: 5px 5px; */
}
.table-heading-srnum{
  padding: 30px 15px !important;
}
.search-div {
  padding-right: 10px;
}
.activity-table {
  flex-wrap: wrap;
  width: 100%;
}
.act-table{
  /* max-width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column; */
  overflow-x: auto;

}
.act-table tr th,
.act-table tr td {
  padding: 10px;
  text-align: left;
}
.act-table tr td {
  background: #f5f5f5;
  border-radius: 15px;
  padding: 10px 20px;
}
@media screen and (max-width: 768px) {
  .act-table {
    overflow-x: scroll;
    font-size: 12px;
  }
}
.act-table tr {
  /* margin-bottom: 15px ; */
  border-bottom: 15px solid white;
  margin-bottom: 2px  ;
}
