.all-pgraph {
  font-family: "Montserrat Alternates", sans-serif;
  color: #4d4d56;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 0;
}
.about-heading {
  padding: 15px 0;
}
.about-heading h2 {
  color: var(--yellow, #ffc426);
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
.about-use-sec {
  padding: 100px 0;
}
.w-100 {
  width: 100% !important;
}
.video-calls-sec {
  position: relative;
}
.video-calls-sec::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
}
.video-calls-sec img {
    width: 100%;
}
