.link-list li a {
  color: #000 !important;
  text-decoration: none;
  font-size: 13px;
}
@media screen and (max-width: 1400px) {
  .link-list {
    display: block !important;
  }
}
ul {
  text-decoration: none;
  list-style: none !important;
  /* margin-bottom: 0 !important; */
}
li a {
  line-height: 22px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin: 0 10px;
  text-decoration: none;
  font-family: "Montserrat Alternates", sans-serif;
}
.copyright-text {
  font-size: 10px !important;
}
@media (max-width: 992px){
.copy-bg1 ul.link-list li a {
    line-height: 18px;
    font-size: 12px;
    margin: 0 8px;
}}